.para1 {
    border: 2px solid rgb(25, 46, 225);
}
.para2 {
    border: 2px solid rgb(86, 207, 56);
}
.span1 {
    border: 2px solid rgb(219, 83, 124);
}
.span2 {
    border: 2px solid rgb(231, 59, 7);
}