/* Navbar styles */
nav {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    margin-right: 20px;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    margin: 0 10px;
  }
  
  /* Menu toggle styles */
  .menu-icon {
    cursor: pointer;
    display: none;
  }
  .dn {
    display: none;
  }
  /* Media query for responsive navbar */
  @media (max-width: 768px) {
    .menu-icon {
      display: block;

    }
    .dn {
        display: block;
      }
  
    .menu {
      display: none;
      position: absolute;
      top: 80px;
      left: 0;
      width: 100%;
      background-color: #333;
      padding: 10px 0;
      text-align: center;
    }
  
    .menu li {
      margin: 10px 0;
    }
  
    #menu-toggle:checked ~ .menu {
      display: block;
    }
  }
  